mixin link(href, name)
	a(href=href)&attributes(attributes)= name

header.navbar

		div.header_con
			h1.header_logo
				a(href="/") Home
			nav.nav
				ul.nav-items
					li.nav-item
						+link('/image', 'All images')(class="nav-link")