extends layout.pug

block content
    .container
        h2.details_title Details 
        h3#title.details 
        div.details_container
            img#image.details
            p#description.details
        a(href="/image") Back 
    script(src="/scripts/details.js") 