extends layout.pug

block content
    .container
        h2.details_title Details 
        h3#title.nameofimg 
        div.details_container
            div.containerforimage
                img#image.details_image
            p#description.details_description
        a.btn_back(href="/image") Back 
    script(src="/scripts/details.js") 