extends layout.pug

block content
    div.tests
        div.upload
            a#btnCreate(href="/upload") Upload
                i.fas.fa-upload
        div.text_vnizu
            p.warning This web application was created to fulfill Web Technology module’s requirements and does not represent an actual company or service 
